src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
    <flow name="sapi-tcct-salesforce-main">
        <http:listener path="${apiPath}" config-ref="HTTPS_Listener_config_standard">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-tcct-salesforce-config" />
    </flow>
    <flow name="sapi-tcct-salesforce-console">
        <http:listener path="/console/*" config-ref="HTTPS_Listener_config_standard">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-tcct-salesforce-config" />
    </flow>
	<flow name="get:\salesforce\opportunity\(code-opportunity):sapi-tcct-salesforce-config">
        <flow-ref doc:name="Flow Reference" doc:id="d86f8f4c-0bb2-4f16-be02-96bd91d9e93e" name="subflow-salesforce-opportunity-codeopportunity-get" />
    </flow>
    <flow name="get:\salesforce\(id-file):sapi-tcct-salesforce-config">
        <flow-ref doc:name="Flow Reference" doc:id="dced05c5-f7fd-43cb-9783-cf8cb403af00" name="subflow-salesforce-idfile-get" />
    </flow>
    <flow name="get:\salesforce\offer\(code-offer):sapi-tcct-salesforce-config">
		<flow-ref doc:name="Flow Reference" doc:id="2ed15793-5b2c-4020-bc46-930653e8d5c7" name="subflow-salesforce-offer-codeoffer-get"/>
    </flow>
</mule>
